  <!DOCTYPE html>
  <html lang="en" ng-app="StarterApp">
    <head>
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <link rel="stylesheet" href="core.css">
      
    </head>
    <body layout="row" ng-controller="AppCtrl">

      <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

        

        <md-toolbar layout="column" class="md-tall md-hue-2">
          <div class="md-toolbar-tools">
            <span flex="90"></span>
            <ng-md-icon flex icon="notifications" style="fill: white" size="24px"></ng-md-icon> 
         </div>
          <!--<span flex=></span>-->
          <div layout="column" layout-align="center center" class="md-toolbar-tools-bottom inset">
            <user-avatar></user-avatar>
            <span flex="10">&nbsp;</span>
            <span class="md-headline">Saulius Skeirys</span>
            <span class="md-subhead">
              <ng-md-icon icon="location_on" ng-style="{'fill': 'white'}"  size="24px" ></ng-md-icon>
              Chicago, IL</span>
          </div>
        </md-toolbar>


        <md-list class="mainMenu" >
          <div layout="row "  layout-wrap style="padding: 20px 30px;">
            <md-item md-ink-ripple class="clickable" ng-repeat="item in menu" flex="33">
              <a href="#{{item.title}}">
                <md-item-content layout="column" layout-wrap layout-align="start center" ng-style="{'background-color': item.bgColor}">
                  <div class="inset" >
                    <ng-md-icon icon="{{item.icon}}" ng-style="{'fill': item.txtColor}"  size="38px" aria-label="{{item.title}}" ></ng-md-icon>
                  </div>
                  <div class="inset font-12" ng-style="{'color': item.txtColor, 'padding-top': '0'}">{{item.title}}</div>
                </md-item-content>
              </a>
            </md-item>
          </div>
        </md-list>

        <md-list>
          <md-subheader class="md-no-sticky">Timeline</md-subheader>
          <md-list-item md-ink-ripple class="md-2-line" ng-repeat="item in timeline">
           <ng-md-icon class="icon" icon="{{item.evenType}}" ng-style="{'fill' : '#EEEEEE', 'background-color': item.eventColor, 'margin-top':'10px'}" size="18px"  ></ng-md-icon>
            <div class="md-list-item-text" layout="column">
              <h4>{{ item.eventName }}</h4>
              <p>{{ item.eventMessage }}</p>
              <small class="text-muted ng-binding"> 
                <ng-md-icon  icon="access_time"   size="12px"></ng-md-icon> 
                {{ item.eventTime }}
              </small>
            </div>
          </md-list-item>-
         </md-list>


      </md-sidenav>

      <div layout="column" class="relative" layout-fill role="main">
        <!-- CORNER BUTTON
        <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
          <ng-md-icon icon="add"></ng-md-icon>
        </md-button>-->

        


          <div ng-view></div>

        <!--
        <md-content flex md-scroll-y>
          <ui-view layout="column" layout-fill layout-padding>
            <div class="inset" hide-sm></div>
              <ng-switch on="data.selectedIndex" class="tabpanel-container">
                <div role="tabpanel"
                     id="tab1-content"
                     aria-labelledby="tab1"
                     ng-switch-when="0"
                     md-swipe-left="next()"
                     md-swipe-right="previous()"
                     layout="row" layout-align="center center">
                    <md-card flex-gt-sm="90" flex-gt-md="80">
                      <md-card-content>
                        <h2>Activity</h2>
                        <md-list>
                          <md-item ng-repeat="item in activity | filter:search">
                            <md-item-content>
                              <div class="md-tile-left inset" hide-sm>
                                  <user-listavatar></user-listavatar>
                              </div>
                              <div class="md-tile-content">
                                <h3>{{item.what}}</h3>
                                <h4>{{item.who}}</h4>
                                <p>
                                  {{item.notes}}
                                </p>
                              </div>
                            </md-item-content>
                            <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                            <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                          </md-item>
                          <md-divider></md-divider>
                          <md-item layout class="inset">
                              <md-button layout layout-align="start center" flex class="md-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg> More
                              </md-button>
                          </md-item>
                        </md-list>
                      </md-card-content>
                    </md-card>
                </div>
                <div role="tabpanel"
                     id="tab2-content"
                     aria-labelledby="tab2"
                     ng-switch-when="1"
                     md-swipe-left="next()"
                     md-swipe-right="previous()" 
                     layout="row" layout-align="center center">
                    <md-card flex-gt-sm="90" flex-gt-md="80">
                      <md-card-content>
                        <h2>Favorites</h2>
                        <md-list>
                          <md-item ng-repeat="item in activity | filter:search | orderBy:'-what'">
                            <md-item-content>
                              <div class="md-tile-left inset" hide-sm>
                                  <user-listavatar></user-listavatar>
                              </div>
                              <div class="md-tile-content">
                                <h3>{{item.what}}</h3>
                                <h4>{{item.who}}</h4>
                                <p>
                                  {{item.notes}}
                                </p>
                              </div>
                            </md-item-content>
                            <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                            <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                          </md-item>
                          <md-divider></md-divider>
                          <md-item layout class="inset">
                              <md-button layout layout-align="start center" flex class="md-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg> More
                              </md-button>
                          </md-item>
                        </md-list>
                      </md-card-content>
                    </md-card>
                </div>
                
            </ng-switch>
            
          </ui-view>
        </md-content>
      -->



      </div>
     <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script> 

       <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
     <script src="app.js"></script>
      
      
    </body>
  </html>